@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montserrat/Montserrat-Light.ttf);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montserrat/Montserrat-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/raleway/Raleway-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/raleway/Raleway-Medium.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/raleway/Raleway-SemiBold.ttf);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/roboto/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h2,
h1,
h3,
p {
    margin: 0;
}

.header {
    padding: 39px calc(50% - 960px) 0px calc(50% - 960px);
    background-image: url(../img/img/bg_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
    min-height: 1024px;
}

.header-nav {
    display: flex;
    padding: 0 322px 0 323px;
    align-items: center;
    justify-content: space-between;
}

.nav-links-wrapper {
    display: flex;
    align-items: center;
}

.header-nav__list {
    display: flex;
}

.header-nav__list-element {
    list-style: none;
    margin-right: 24px;
}

.header-nav__list-element:last-child {
    margin-right: 54px;
}

.header-nav__link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.4s;
}

.header-nav__link:hover {
    color: #C7B299;
}

.header-nav__cart {
    fill: #FFFFFF;
    margin-right: 30px;
}

.header-nav__search {
    fill: #FFFFFF;
}

.header-nav__cart:hover,
.header-nav__search:hover {
    fill: #C7B299;
}

.slider-secton-wrapper {
    display: flex;
    padding: 331px 160px 312px 160px;
    justify-content: space-between;

}

.header-slogan {
    max-width: 569px;
    text-align: center;
}

.header-slogan__slogan {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #FFFFFF;
}

.header-slogan__slogan-main {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    color: #FFFFFF;
}

.header-slogan__slogan-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}

.header-slogan__slogan-btn {
    background: #988574;
    border-radius: 3px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 19px 40px;
    margin-top: 39px;
    border: none;
    transition: all 0.3s ease-in-out;
}

.header-slogan__slogan-btn:hover,
.purchase__btn:hover,
.latest-project__load-btn:hover {

    transform: scale(1.1);
    background: #7a6e64;
    cursor: pointer;
}

.slider-secton-wrapper__arr {
    margin-top: 42px;
    fill: #FFFFFF;
}

.slider-secton-wrapper__arr:hover {
    fill: #D3C1AC;
    cursor: pointer;
}

.header-slider-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 49px;
}

.header-slider-nav__element {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 5px;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}

.header-slider-nav__element:hover {
    width: 10px;
    height: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: transparent;
    transform: scale(1.3);
}

.services {
    background: #FFFFFF;
    display: flex;
    padding: 93px calc(50% - 960px) 88px calc(50% - 960px);
    justify-content: center;
}

.services-wrap {
    width: 270px;
    margin: 0 15px;
    text-align: center;
    cursor: pointer;
}

.services-wrap::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background: #F1EEE9;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
}

.services-wrap:hover::after {

    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background: #C7B199;
    margin: 0 auto;
}

.services-wrap:hover .services-wrap__img {
    fill: #C7B299;
}

.services-wrap:hover .services-wrap__title {
    color: #C7B299;
}

.services-wrap__img {
    fill: #555555;
    width: 45px;
    height: 45px;
    margin-bottom: 30px;

    transition: all 0.3s ease-in-out;
}

.services-wrap__title {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #555555;
    margin-bottom: 20px;

    transition: all 0.3s ease-in-out;
}

.services-wrap__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
}

.realization {
    padding: 80px calc(50% - 960px) 0 calc(50% - 960px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FBFAF8;
}

.realization__heading {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #555555;
    margin-bottom: 20px;
}

.realization__text {
    margin: 0 auto;
    max-width: 770px;
    margin-bottom: 42px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: #8C8C8C;
}

.purchase {
    box-sizing: border-box;
    padding: 44px calc(50% - 1232px / 2);
    min-height: 150px;
    display: flex;
    justify-content: space-between;
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.purchase__heading {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: #FFFFFF;
    margin-bottom: 6px;
}

.purchase__heading-waxom {
    color: #C7B299;
}

.purchase__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #615855;
}

.purchase__btn {
    background: #988574;
    border-radius: 3px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 19px 30px;
    margin-top: 12px;
    border: none;
    width: 170px;
    min-height: 53px;
    transition: all 0.3s ease-in-out;
}

.latest-project {
    padding: 61px calc(50% - 1170px / 2) 0 calc(50% - 1170px / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-project__heading {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #555555;
    margin-bottom: 9px;
}

.latest-project__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #8C8C8C;
    line-height: 20px;
    max-width: 802px;
    text-align: center;
    margin-bottom: 27px;
}

.latest-project__list {
    list-style: none;
    display: flex;
    margin: 0;
}

.latest-project__list-elem-btn {
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #8C8C8C;
    background-color: transparent;
    padding: 8px 20px;
    margin: 0 5px;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

.latest-project__list-elem-btn:hover {
    color: #FFFFFF;
    background-color: #998575;
    transform: rotate(360deg);
}

.latest-project__content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.latest-project__content-element {
    margin-top: 69px;
    background-color: #352F2D;
    cursor: pointer;
}

.latest-project__content-element * {
    transition: all 0.3s ease-in-out;
}

.latest-project__content-element:hover .latest-project__content-element-wrap {
    background: #352F2D;

}

.latest-project__content-element:hover .latest-project__content-element-heading {
    color: #FFFFFF;
}

.latest-project__content-element:hover .latest-project__content-element-text {
    color: #C7B299;
}

.latest-project__content-element:hover .latest-project__content-element-img {
    opacity: 0.3;
}

.latest-project__content-element-wrap {
    min-height: 100px;
    padding: 26px 23px;
    background: #FBFAF8;
    box-sizing: border-box;

    position: relative;
}


.latest-project__content-element-wrap::before {
    content: "";
    display: block;
    top: -24px;
    left: 6px;
    border: 18px solid transparent;
    border-bottom: 10px solid #FBFAF8;
    width: 0;
    height: 0;
    position: absolute;

    transition: all 0.3s ease-in-out;
}

.latest-project__content-element:hover .latest-project__content-element-wrap::before {
    content: "";
    display: block;
    top: -24px;
    left: 6px;
    border: 18px solid transparent;
    border-bottom: 10px solid #352F2D;
    width: 0;
    height: 0;
    position: absolute;
}

.latest-project__content-element-heading {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #C7B299;
    margin-bottom: 5px;
}

.latest-project__content-element-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #D1D1D1;
}

.latest-project__content-element-img {
    display: block;
}

.latest-project__load-btn {
    background: #988574;
    border-radius: 3px;
    border: none;
    padding: 18px 46px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 47px;
    margin-bottom: 33px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.video {
    box-sizing: border-box;
    min-height: 705px;
    padding: 248px calc(50% - 570px / 2) 233px;
    background-color: #000;
    background-image: url(../img/img/bg_video_presentation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.video__play-button {
    border-radius: 50%;
    border: none;
    background: rgba(0, 0, 0, .5);
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-bottom: 31px;
    transition: all 0.3s ease-in-out;
}

.video__play-button:hover {
    transform: scale(1.2);
}

.video__play-button-icon {
    fill: #FFFFFF;
}

.video__heading {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.video__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.video__time {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #C7B299;
}

.mobile {
    padding: 190px calc(50% - 1920px/2) 0 calc(50% - 1920px/2);
    box-sizing: border-box;
    min-height: 694px;
    background-image: url(../img/img/iphone.png);
    background-repeat: no-repeat;
    background-position: left calc(50% - 1157px /2 /2) bottom;
    background-color: #FBFAF8;
}

.mobile__heading {
    margin-left: 908px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #555555;
    margin-bottom: 20px;
}

.mobile__text {
    margin-left: 908px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #8C8C8C;
    max-width: 670px;
    margin-bottom: 49px;
}

.mobile__list {
    margin-left: 975px;
    list-style: none;
    padding-left: 0;
}

.mobile__list-element {
    background-image: url(../img/icons/icon-list.svg);
    background-repeat: no-repeat;
    background-position: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #8C8C8C;
    padding-left: 27px;
    margin-bottom: 10px;
    line-height: 21px;
}

.counters {
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
    min-height: 211px;
    padding: 35px calc(50% - 786px/2);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.counters__elem {
    text-align: center;
}

.counters__elem-icon {
    fill: #C7B299;
}

.counters__elem-count {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    color: #FFFFFF;
}

.counters__elem-text {

    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #C7B299;
}

.counters__elem-text::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background: #FFFFFF;
    margin: 15px auto 0 auto;
}

.recent-posts {
    padding: 100px calc(50% - 1280px /2) 38px calc(50% - 1280px /2);
}

.recent-posts__main-heading {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #555555;
    margin-bottom: 20px;
    text-align: center;
}

.recent-posts__main-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #8C8C8C;
    max-width: 770px;
    margin: 0 auto 30px auto;
    text-align: center;
}

.recent-posts__wrap {
    display: flex;
    justify-content: space-between;
}

.recent-posts__wrap-section {
    width: 370px;
    border: 1px solid #B2B2B2;
    min-height: 395px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.recent-posts__wrap-section * {
    transition: all 0.3s ease-in-out;
}

.recent-posts__wrap-section:hover {
    background-color: #352F2D;
}

.recent-posts__date {
    position: absolute;
    content: "30";
    width: 50px;
    height: 59px;
    background: linear-gradient(to bottom, #363636 35px, #242424 24px);
    border-radius: 3px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    top: 19px;
    left: 23px;
    z-index: 2;
}

.recent-posts__date span {
    position: relative;
    z-index: 3;
}

.recent-posts__date:after {
    position: absolute;
    content: "";
    width: 50px;
    height: 59px;
    background: linear-gradient(to bottom, #C7B199 35px, #A48D71 24px);
    border-radius: 3px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

.recent-posts__wrap-section:hover .recent-posts__date:after {
    opacity: 1;
}

.recent-posts__date-day {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 3px;
    display: inline-block;
}

.recent-posts__heading {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #555555;
    margin-bottom: 22px;
}

.recent-posts__wrap-section:hover .recent-posts__heading {
    color: #C7B299;
}

.recent-posts__text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #000000;
    margin-bottom: 17px;
}

.recent-posts__wrap-section:hover .recent-posts__text {
    color: #FFFFFF;
}

.recent-posts__read-more-link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #C7B299;
    text-decoration: none;
}

.recent-posts__read-more-link::after {
    content: "";
    display: inline-block;
    height: 0px;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid transparent;
    border-left: 5px solid #C7B299;
    margin-left: 9px;
}

.recent-posts__text-wrapper {
    padding: 30px 23px 22px 30px;
}

.recent-posts__img {
    display: block;
}

.recent-posts__wrap-section:hover .recent-posts__img {

    opacity: 0.3;
}

.recent-posts__nav {
    text-align: center;
}

.recent-posts__nav-btn {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 54px 9px 0 9px;
    padding: 0;
    fill: #D1D1D1;
    transition: all 0.3s ease-in-out;
}

.recent-posts__nav-btn:hover {
    fill: #C7B299;
    transform: scale(1.3);
}

.partners {
    background-image: url(../img/img/bg_partners.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 489px;
    padding: 0 calc(50% - 1920px / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners__logo {
    margin: 0 37px;
}

.partners__logo-img {
    transition: all 0.3s ease-in-out;
}

.partners__logo-img:hover {
    transform: scale(1.1);
}

.footer {
    background: linear-gradient(to bottom, #191919 calc(100% - 115px), #101010 115px);
    padding: 0 calc(50% - 1248px/2);
}

.footer__wrap {
    padding-top: 74px;
    display: flex;
    padding-bottom: 112px;
}

.footer__nav {
    min-height: 115px;
    display: flex;
}

.footer__nav-copyright {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    color: #555555;
    margin-top: 58px;
    margin-right: 11px;
}

.footer__nav-list {
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__nav-list-elem {
    border-left: 1px solid #1A1A1A;
    margin-top: 58px;
    padding: 0 11px;
}

.footer__nav-list-elem-link {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    color: #555555;
    transition: all 0.3s ease-in-out;
}

.footer__nav-list-elem-link:hover {
    color: #BAA78F;
}

.footer__about {
    width: 270px;
    margin-right: 72px;
}

.footer__about-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #555555;
    margin-bottom: 18px;
}

.footer__about-read-more-link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #D1D1D1;
    text-decoration: none;
}

.footer__about-read-more-link:after {
    content: "";
    display: inline-block;
    height: 0px;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid transparent;
    border-left: 5px solid #D1D1D1;
    margin-left: 9px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.footer__about-read-more-link:hover::after {
    content: "";
    display: inline-block;
    height: 0px;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid transparent;
    border-left: 5px solid #D1D1D1;
    margin-left: 9px;
    opacity: 1;
}

.footer__recent-posts-heading,
.footer__twitter-heading,
.footer__widget-heading {
    padding-top: 33px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.footer__recent-posts-date,
.footer__twitter-date {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: #363636;
}

.footer__recent-posts-text,
.footer__twitter-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #555555;
}

.footer__recent-posts-text {
    margin-top: 6px;
}

.footer__twitter-date {
    margin-top: 6px;
}

.footer__recent-posts,
.footer__twitter {
    width: 270px;
    margin-right: 49px;
}

.footer__recent-posts-wrap,
.footer__twitter-wrap {
    padding-bottom: 16px;
    padding-top: 12px;
    border-bottom: 1px solid #242424;
}

.footer__recent-posts-wrap *,
.footer__twitter-wrap * {
    transition: all 0.3s ease-in-out;
}

.footer__recent-posts .footer__recent-posts-article-link:last-child .footer__recent-posts-wrap:last-child {
    border-bottom: 1px solid transparent;
}

.footer__recent-posts-article-link {
    text-decoration: none;
}

.footer__twitter .footer__twitter-article-link:last-child .footer__twitter-wrap:last-child {
    border-bottom: 1px solid transparent;
}

.footer__twitter-article-link {
    text-decoration: none;
}

.footer__recent-posts-article-link:hover .footer__recent-posts-date {
    color: #FFFFFF;
}

.footer__twitter-article-link:hover .link-tag-href {
    color: #FFFFFF;
}

.footer__recent-posts-article-link:hover .footer__recent-posts-text {
    color: #C7B299;
}

.footer__twitter-article-link:hover .footer__twitter-date {
    color: #FFFFFF;
}

.footer__twitter-article-link:hover .footer__twitter-text {
    color: #C7B299;
}

.link-tag {
    color: #00BFF3;
}

.link-tag-href {
    color: #757575;
}

.footer__widget {
    width: 268px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: flex-start;
}

.footer__widget-heading-img {
    width: 130px;
    height: 98px;
    margin-bottom: 9px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.footer__widget-heading-img:hover {
    transform: scale(1.3);
}

.footer__widget-heading {
    box-sizing: border-box;
}

.footer__about-logo {
    margin-bottom: 17px;
    display: inline-block;
}

.transition-scale {
    transition-duration: 0.3s;
    transition-property: fill, transform, color;
}

.transition-scale:hover {
    transform: scale(1.25);
}

@media screen and (max-width: 500px) {

.recent-posts__wrap {
    flex-wrap: wrap;
}

.mobile {

    background-image: none;
    background-color: #FBFAF8;
}

.mobile__heading, .mobile__text, .mobile__list {
    margin-left: 0;
}




/* *{
    padding: 0;
    margin: 0;
} */
    .header {
        /* padding: 0; */
        padding: 39px calc(50% - 490px/2) 0px calc(50% - 490px/2);
        /* background-size: 100%; */
    }

    .slider-secton-wrapper {
padding: 0;
    }

    .services {
        padding: 0;
        flex-wrap: wrap;
    }

    .latest-project__list {
flex-wrap: wrap;
    }

    .realization {
        padding: 0;
    }

    .purchase {
        padding: 0;
    }

    .latest-project {
        padding: 0;
    }

    .video {
        padding: 0;
    }

    .mobile {
        padding: 0;
    }

    .counters {
        padding: 0;
        flex-wrap: wrap;
    }

    .recent-posts {
        padding: 0;
    }

    .partners {
        padding: 0;
        flex-wrap: wrap;
    }

    .footer {
        padding: 0;
    }

    .footer__wrap {
flex-wrap: wrap;
    }


    .nav-links-wrapper {
        display: none;
    }

    .header-nav {
        padding: 0;
    }
    .realization_img {
        display: none;
    }
    /* .recent-posts {
        padding: 0;
        
    } */

    /* .recent-posts__wrap {
        flex-wrap: wrap;
    } */
   }   